[submodule "themes/hello-friend"]
	path = themes/hello-friend
	url = https://github.com/panr/hugo-theme-hello-friend.git
[submodule "public"]
	path = public
	url = https://github.com/katekang0815/katekang0815.github.io.git
